{{#if project.screenshot}}
  {{#link-to "editor" project}}
    <img src={{project.screenshot}}>
    <!-- {{project.title}} ({{project.scenes.length}} escenas) -->
  {{/link-to}}
{{else}}
<a href=#>
  <div class="ui active inline loader"></div>
</a>
{{/if}}
