iframe {
  width: 420px;
  height: 480px;
  border: 1px solid gray;
  display: inline-block;
}

.pilas-canvas-container {
  display: inline-block;
}

.ember-blockly-container {
}

.pilas-lista-de-actores-container {
  display: inline-block;
  vertical-align: top;
}

.pilas-lista-de-actores-container ul {
  vertical-align: text-top;
  list-style-type: none;
  padding-left: 15px;
  width: 100px;
}

.min-padding {
  padding: 5px;
}

.fondo-thumb {
  width: 150px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.spinner {
  width: 420px;
  height: 480px;
  border: 1px solid gray;
  padding-top: 200px;
}

.application-container {
  padding: 2em;
}

.pilas-project-thumb-container {
  display: inline-block;
  margin: 5px;
  width: 133px;
  height: 200px;
  text-align: center;
}

.pilas-project-thumb-container:hover {
  background-color: white;
  box-shadow: 0 0 3px gray;
}

.buttons-bar {
  padding-bottom: 10px;
}

.pilas-lista-de-actores {
  border: 1px solid green;
}

.pilas-item-actor-container {
  border: 1px solid red;
  margin: 2px;
  cursor: pointer;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  width: 100px;
}

.pilas-actor-item-seleccionado {
  background-color: yellow;
}
