.application-container {
  height: 100%;
  width: 100%;
  padding: 5px;
}

iframe {
  border: 0;
}

.pilas-canvas-container {
  width: 100%;
  height: calc(100% - 100px) !important;
}

.ember-blockly-container {
  height: calc(100% - 100px) !important;
}

.pilas-lista-de-actores {
  margin-bottom: 5px !important;
  height: 45px;
}

.button-game-bar {
  height: 45px;
  margin-bottom: 5px !important;
  text-align: center;
}

.fixed {
  height: 42px;
}

.min-padding {
  padding: 5px;
}

.fondo-thumb {
  width: 128px;
  border: 1px solid #eee;
  cursor: pointer;
}

.fondo-thumb:hover {
  background-color: yellow;
  box-shadow: 0 0 6px yellow;
}

.actor-thumb {
  width: 64px;
  border: 1px solid #eee;
  cursor: pointer;
}

.actor-thumb:hover {
  background-color: yellow;
  box-shadow: 0 0 6px yellow;
}

.hidden {
  display: none;
}

.spinner {
  width: 420px;
  height: 480px;
  border: 1px solid gray;
  padding-top: 200px;
}


.pilas-project-thumb-container {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 115px;
  height: 135px;
  text-align: center;
}

.pilas-project-thumb-container:hover {
  background-color: white;
  box-shadow: 0 0 3px gray;
}

.buttons-bar {
  padding-bottom: 10px;
}

.pilas-lista-de-actores {
}

.pilas-item-actor-container {
  border: 1px solid red;
  margin: 2px;
  cursor: pointer;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  width: 100px;
}

.ember-blockly-container {
  width: 100%;
  height: 100%;
}

.vbox {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.vbox .button-bar {
  flex-grow: 0;
}

.vbox .main-div {
  flex-grow: 1;
  height: 99%;
}

.hbox {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-grow: 1;
}

.hbox .game {
  flex-grow: 0;
  width: 420px;
}

.hbox .workspace {
  flex-grow: 1;
}

body > .ember-view {
  height: 100%;
}

.no-margin {
  margin: 0 !important;
}

.small-icon {
  width: 14px !important;
  height: 14px !important;
  margin-right: 7px !important;
}

.padding-button-bar {
  padding: 6px;
  padding-left: 0;
  padding-right: 0;
  height: 50px;
}


.pilas-splitter-container {
  flex-grow: 0;
  width: 7px;
}

.pilas-splitter-container:hover {
  cursor: ew-resize;
}

.pilas-splitter {
  display: flex;
}

.splitter {
  width: 100%;
  height: 100%;
}


.over-splitter {
  cursor: ew-resize;
  display: none;
  z-index: 3000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pilas-item-actor-boton-eliminar {
  display: none;
  position: absolute;
  top: -8px;
  right: -4px;
  color: red;
  opacity: 0.3;
  text-align: center;
}

.pilas-item-actor-boton-eliminar:hover {
  cursor: pointer;
  opacity: 1;
}

/* Hace que el botón para eliminar actor solo se vea cuando
 * el mouse pasa sobre la pestaña seleccionada.
 */
a.item.active:hover .pilas-item-actor-boton-eliminar {
  display: block;
}
