<p>
  Hubo un error al cargar el proyecto,
  te recomandamos volver a la
  {{#link-to "index"}}pantalla inicial{{/link-to}}.
</p>


<p>Este error es super común, imaginá que la aplicación
  usa un conjunto de datos de pruebas y al recargar
  el navegador esa información "vuela".</p>
