<p>
  Hubo un error al cargar el proyecto,
  te recomandamos volver a la
  {{#link-to "index"}}pantalla inicial{{/link-to}}.
</p>


<p>Este error ocurre con frecuencia en este momento de
  desarrollo, no es nada grave. El motivo del error
  es que la aplicación usa un conjuto de datos de prueba
  que se vuelve a cargar desde cero cada vez que arranca la
  aplicación. Y el proyecto y escena que se intenta
  cargar ahora es nuevo, no pertenece a ese conjunto de
  datos de prueba.</p>
