<div class="buttons-bar">
  {{async-button id="crear-proyecto" class="ui button primary" action="crearUnProyectoNuevo" default="Crear un proyecto nuevo" pending="Creando ..."}}
</div>

{{#each model as |project|}}
  {{pilas-project-thumb project=project}}
{{else}}
  <p>No hay proyectos creados aún.</p>
{{/each}}


<p class="nota-version">Versión <code>{{app-version}}</code> beta.</p>
