<div class="buttons-bar">
  {{async-button id="crear-proyecto" class="ui button primary" action="crearUnProyectoNuevo" default="Crear un proyecto nuevo" pending="Creando ..."}}
</div>

{{#each model as |project|}}
  {{pilas-project-thumb project=project}}
{{else}}
  <p>No hay proyectos creados aún.</p>
{{/each}}

<p class="nota-version">Versión <code>{{app-version}}</code> beta.</p>

<div class="nota-prototipo">

  <h3>Importante</h3>

  <p>Esta es una versión prototipo de pilas-bloques-jr, por favor
    no difundas el link que te permitió ingresar.</p>

  <p>La aplicación está incompleta, y no es funcional. Queremos
    mantener el secreto el acceso a la aplicación mientras
    dura el proceso de pruebas y evaluaciones.</p>

</div>
